<% subscription = @order.subscriptions.find_by(variant: item.variant) %>
<td class='cart-item-subscription text-center' data-hook='cart_item_subscription'>
  <%= subscription ? subscription.frequency.title.capitalize : 'Not Subscribed' %>
</td>
<td class="text-center">
  <%= subscription ? subscription.delivery_number : 'None' %>
</td>
